body {
  font-family: 'Montserrat', sans-serif;

}

.text-align-center {
  text-align: center;
}

#lezioni img,
#come-funziona img,
#why img {
  height: 200px;
  width: auto;
  margin-bottom: 20px;
}


#why img {
  border-radius: 50%;
  background-color: #438ACA;
  height: 260px;
  padding: 25px;
}

#lezioni,
#come-funziona,
#why {
  margin-bottom: 100px;
}

#lezioni h3,
#come-funziona h3,
#why h3 {
  font-size: 1.7em;
  margin-bottom: 20px;
}

#lezioni h2,
#come-funziona h2,
#why h2 {
  font-size: 2.5em;
}

#lezioni p,
#come-funziona p,
#why p {
  font-size: 1.5em;
  margin-bottom: 20px;
}


.text {
  width: 80%;
  margin: 0 auto
}

#come-funziona,
#why {
  background-color: #F9F9F9;
}

.margin-50 {
  margin-bottom: 50px;
}




@media all and (min-width: 991px) {
  .col-12.margin-50.col-lg-4 p{
    text-align: left;
    padding: 0 10px;
  }
    hr {
      display: none;
    }
}

@media all and (min-width: 768px) and (max-width: 992px) {
  #lezioni img,
  #come-funziona img,
  #why img {
    width: auto;
    height: 130px;
  }


  #lezioni h2,
  #come-funziona h2,
  #why h2 {
    font-size: 1.7em;
  }
}

@media all and (max-width: 768px) {
  #lezioni [class*="col-xs"],
  #come-funziona [class*="col-xs"],
  #why [class*="col-xs"] {
    margin-bottom: 20px;
  }

  #lezioni img,
  #come-funziona img,
  #why img {
    width: auto;
    height: 100px;
  }

  #lezioni h2,
  #come-funziona h2,
  #why h2 {
    font-size: 1.3em;
  }

  #lezioni h3,
  #come-funziona h3,
  #why h3 {
    font-size: 1em;
  }

  #lezioni p,
  #come-funziona p,
  #why p {
    font-size: 1em;
  }

  #lezioni,
  #come-funziona,
  #why {
    margin-bottom: 50px;
  }
}
